@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --bg: #F8F9FA;
  --surface: #FFFFFF;
  --primary: #E63946;
  --secondary: #1D3557;
  --text-main: #1D3557;
  --text-muted: #6C757D;
  --accent-green: #4C9F70;
  --accent-yellow: #FFB703;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-bg-custom: var(--bg);
  --color-surface-custom: var(--surface);
  --color-primary-custom: var(--primary);
  --color-secondary-custom: var(--secondary);
  --color-text-main-custom: var(--text-main);
  --color-text-muted-custom: var(--text-muted);
  --color-accent-green-custom: var(--accent-green);
  --color-accent-yellow-custom: var(--accent-yellow);
}

body {
  background-color: var(--bg);
  color: var(--text-main);
}

